@model IEnumerable<LeadifyTest.Presentation.Web.Models.ContactViewModel>
@{
    ViewBag.Title = "Contact List";
}

<div class="jumbotron">
    CONTACTS
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>@Html.DisplayNameFor(model => model.Lastname)</th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>@Html.DisplayNameFor(model => model.Cellphone)</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ContactId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ContactId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ContactId })
            </td>
        </tr>
    }
</table>